/* bg and shiet? */

body {

    background-image: url(Images/headerbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;

}

/* heading types */

h1 {

    font-family: 'JujutsuKaisen';
    font-size: 100px;
    text-align: center;

    color: white;
    paint-order: stroke fill;
    -webkit-text-stroke: 0.1em black;

    text-shadow: 10px 10px 10px black;

}

h2 {

    font-family: 'JujutsuKaisen';
    font-size: 50px;
    text-align: center;

    color: white;
    paint-order: stroke fill;
    -webkit-text-stroke: 0.1em black;

}

/* text types */

.regular {

    font-family: 'Lato';
    font-size: 25px;
    text-align: center;

    color: white;
    paint-order: stroke fill;
    -webkit-text-stroke: 0.1em black;

}

/* big bad logo */

.logo {

    height: 100px;
    width: 100px;
    vertical-align: middle;

}

/* for sections */

.panel {

    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

}

.content {

    position: relative;
    background: rgba(255, 255, 255, 0.25);
    width: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    margin: 5px;

}

/* the bottom navigation bar */

.navbar {
    background-color: rgba(255, 255, 255, 0.25);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    font-family: 'JujutsuKaisen';
    color: white;
    paint-order: stroke fill;
    -webkit-text-stroke: 0.1em black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(116, 216, 255);
}

.navbar a.active {
    color: rgb(0, 140, 255);
}

/* new fonts */

@font-face {
    font-family: "JujutsuKaisen";
    src: url("Fonts/JujutsuKaisen.ttf") format('truetype');
    font-style: normal;
}
